.tabs {
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  height: 64px;
  width: 100%;

  .tab {
    width: 100%;
    display: grid;
    place-items: center;

    .icon {
      font-size: 18px;
    }
  }
}
