.tabs {
  background-color: white;
  bottom: 0;
  display: flex;
  height: 64px;
  left: 0;
  position: fixed;
  width: 100%;

  .tab {
    display: grid;
    padding: 10px;
    place-items: center;
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    color: black;

    &--active {
      color: red;
      border-top: 5px solid red;
    }

    .icon {
      font-size: 18px;
    }
  }
}
