.tabs {
  background-color: white;
  bottom: 0;
  display: flex;
  height: 56px;
  left: 0;
  position: fixed;
  width: 100%;

  .tab {
    color: black;
    cursor: pointer;
    display: grid;
    padding: 10px;
    place-items: center;
    text-decoration: none;
    width: 100%;

    &--active {
      border-top: 3px solid red;
      color: red;
      padding-top: 7px;
    }

    .icon {
      font-size: 18px;
    }
  }
}
