.carousel {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 20px;
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  &__card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    transition: all 300ms ease;

    &__poster {
      border-radius: 5px;
      height: 20vh;
      // TODO: Adjust width automatically
      width: 305px;
    }
  }
}
