* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.border-bottom {
  border-bottom: 1.5vh solid var(--color-light);
}

.header {
  align-items: center;
  background-color: var(--color-dark-contrast);
  display: flex;
  height: var(--header-height);
  padding-inline: 20px;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
